body {
 background-image: url('http://wallpapercraze.com/images/wallpapers/perfectvacationspot-344130.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#calculator {
  width: 450px;
  height: 470px;;
  margin: 120px auto 0 auto;
  background-color: #135589;
  opacity: 0.9;
  padding: 10px 10px 260px 15px;
  border-radius: 5px;
  border-bottom: 5px solid #42729B;
}

.result {
  width: 305px;
  height: 80px;
  float: left;
  line-height: 40px;
  background-color: #fff;
  color: #000;
  margin: 5px;
}

.result > p {
  margin-left: 10px;
  line-height: 80px;
  font-size: 60px;
}

#clear, span {
  height: 80px;
  border-bottom: 3px solid grey;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  cursor: pointer;
  background-color: #AED9DA;
  color: #2c3e50;
  margin: 5px;
} 

#allClear {
  width: 95px;
  float: left;
  background-color: #ff1a1a;
  color: #fff;
  border-color: #A63125;
}

span {
  float: left;
  width: 95px;
}

span:hover{
    
	background-color: #2A93D5;
}